extends layout

block content
  h1= title
  h2 Getting Started with AWS
  p Thank you very much for your interest in this project.
  p I hope that you enjoy the wonderful world of cloud computing.
  p
  p ~ <a href="https://github.com/beaunus">Beaunus</a>
