html {
  background: white;
}

body {
  background: #eee;
  border-radius: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 14px;
  margin: 50px;
  padding: 30px;
}

a {
  color: #ec048c;
}
